.ant-layout-sider-children{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.ant-dropdown-menu-item{
    background-color: #fff!Important;
}

.ant-menu-item-selected{
    color: #9e2e32!Important;
    background-color: #ffe8e8!Important;
}

.ant-card-body{
    padding: 16px!important;
}

.movie-card-content .ant-card-meta-detail .ant-card-meta-title{
    /* overflow: auto; */
    /* white-space: normal; */
    font-size: 14px;
}

.movie-card-content .ant-card-meta-detail .ant-card-meta-description{
    font-size: 12px;
}

.ant-card .ant-card-cover img{
    max-height: 230px;
    height: auto;
}