.ant-layout-sider-children{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.ant-dropdown-menu-item{
    background-color: #fff!Important;
}

.ant-menu-item-selected{
    color: #9e2e32!Important;
    background-color: #ffe8e8!Important;
}

.ant-card-body{
    padding: 16px!important;
}

.movie-card-content .ant-card-meta-detail .ant-card-meta-title{
    /* overflow: auto; */
    /* white-space: normal; */
    font-size: 14px;
}

.movie-card-content .ant-card-meta-detail .ant-card-meta-description{
    font-size: 12px;
}

.ant-card .ant-card-cover img{
    max-height: 230px;
    height: auto;
}

#sideNav{
    z-index: 2;
}

#main{
    z-index: 1;
}

.sideNav-active{
    display: flex!important;
    flex: 1!important;
    width: 100%!important;
    max-width: none!important;
    min-width: 0!important;
}

.sideNav-inactive{
    display: none!important;
}

.main-active{
    display: flex!important;
}

.main-inactive{
    display: none!important;
}

.ant-btn-primary{
    background-color: #ef4444;
}
.ant-btn-primary:hover{
    background-color: #f07e7e!important;
}

.ant-input-outlined:hover {
    border-color: #f07e7e!important;
}

.ant-input-search-button:hover{
    color: #ef4444!important;
    border-color: #ef4444!important;
}


@media screen and (max-width: 599px) {
    .sidenav{
        display: none;
    }
}